<nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background-color: {{themeOptions.headerColor}};">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navToggleContent">
        <i class="ion-navicon-round"></i>
    </button>

    <div class="container">

        <div id="site-name" ng-if="(! themeOptions.siteLogo)">
            <a class="navbar-brand" style="color: {{themeOptions.headerFontColor}};" ui-sref="main">{{siteOptions.siteName}}</a>
        </div>
        <div id="site-logo" ng-if="themeOptions.siteLogo">
            <a class="navbar-brand" ui-sref="main"><img alt="{{siteOptions.siteName}}" class="img-fluid" ng-src="{{themeOptions.siteLogo}}"></img></a>
        </div>

        <div id="navToggleContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li ng-repeat="item in headerMenu" class="nav-item">
                    <a ng-if="item.children.length === 0" class="nav-link" style="color: {{themeOptions.headerFontColor}};" href="{{item.url}}">{{item.title}}</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
