<div>
    <form>

        <div class="form-group row" ng-if="error">
            <p class="text-danger">{{error}}</p>
        </div>

        <div class="form-group row">
            <label for="user" class="col-sm-1 col-form-label">Username</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="user" ng-model="loginAttempt.username">
            </div>
        </div>

        <div class="form-group row">
            <label for="password" class="col-sm-1 col-form-label">Password</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" id="password" ng-model="loginAttempt.password">
            </div>
        </div>

        <button type="submit" class="btn btn-success" ng-click="loginCB()">
            Login
        </button>

    </form>
</div>
