<div ng-if="roleCheck">
    <h3>Edit your Theme!</h3>
    <form>
        <div class="row">
            <div class="form-group col">
                <label for="siteTitle">Site Title</label>
                <input type="text" class="form-control form-control-sm" id="siteTitle" ng-model="siteOptions.siteName">
            </div>
            <div class="form-group col">
                <label for="siteLogo">Site Logo</label>
                <input type="url" class="form-control form-control-sm" id="siteTitle" ng-model="themeOptions.siteLogo">
                <!-- <file-field class="btn btn-primary btn-sm" ng-model="siteOptions.siteLogo" preview="previewImage">Select File</file-field> -->
                <!-- <img ng-src="{{previewImage}}"> -->
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="headerColor">Header Color</label>
                <input
                    colorpicker
                    colorpicker-with-input="true"
                    type="text"
                    class="form-control form-control-sm"
                    id="headerColor"
                    ng-model="themeOptions.headerColor">
            </div>
            <div class="form-group col">
                <label for="headerFontColor">Header Font Color</label>
                <input
                    colorpicker
                    colorpicker-with-input="true"
                    type="text"
                    class="form-control form-control-sm"
                    id="headerFontColor"
                    ng-model="themeOptions.headerFontColor">
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="footerColor">Footer Color</label>
                <input
                    colorpicker
                    colorpicker-with-input="true"
                    type="text"
                    class="form-control form-control-sm"
                    id="footerColor"
                    ng-model="themeOptions.footerColor">
            </div>
            <div class="form-group col">
                <label for="footerFontColor">Footer Font Color</label>
                <input
                    colorpicker
                    colorpicker-with-input="true"
                    type="text"
                    class="form-control form-control-sm"
                    id="footerFontColor"
                    ng-model="themeOptions.footerFontColor">
            </div>
        </div>
    </div>
    </form>

    <h4>Social Media Links</h4>
    <form>
        <div class="row">
            <div class="form-group col">
                <label for="twitter">Twitter</label>
                <input type="text" class="form-control form-control-sm" id="twitter" ng-model="themeOptions.footerLinks.twitter.uri">
            </div>
            <div class="form-group col">
                <label for="facebook">Facebook</label>
                <input type="text" class="form-control form-control-sm" id="facebook" ng-model="themeOptions.footerLinks.facebook.uri">
            </div>
        </div>
    </form>
    <h4>Background Image</h4>
    <form>
        <div class="row">
            <div class="form-group col">
                <label for="bgImage">Insert URL</label>
                <input type="text" class="form-control form-control-sm" id="bgImage" ng-model="themeOptions.backgroundImage">
            </div>
        </div>
        <button type="submit" class="btn btn-success" ng-click="saveOptions()">
            Save Options
        </button>
        <span ng-if="saved === true" class="text-success"><i class="ion-checkmark-round"></i></span>
        <span ng-if="saved === false" class="text-danger"><i class="ion-close-round"></i></span>
    </form>
</div>
